.app-header-logo {
  position: absolute;
  top: 25px;
  left: 20px;
  height: 5vh;
}

@media (prefers-reduced-motion: no-preference) {
  .app-header-logo {
    animation: app-header-logo-spin infinite 20s linear;
  }
}

.app-header {
  background-color: #282c34;
  min-height: 10vh;
  display: block;
  align-items: normal;
  font-size: calc(5px + 3vmin);
  color: white;
}

.app-header-link {
  color: #61dafb;
}

.app-header-h1 {
  margin: 0;
}

@keyframes app-header-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
